
/ProjectParadise2/.vs
ProjectParadise2/Resources/Anticheat.dll
/ProjectParadise2/bin/Debug/net9.0-windows7.0
/ProjectParadise2/bin/Debug/netcoreapp3.1
/ProjectParadise2/bin/Release/netcoreapp3.1
/ProjectParadise2/obj
